/* common 공통 css */
a, a:active , a:visited {
    text-decoration: none;
    color: inherit;
}

.a-block {
    display: block;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.widthFull{
    width: 100%;
}

.height50 {
    height: 100px;
}

.flexBox-col > div{
    flex: 1
}


.color-mainBG { 
    background: 444444;
}





/* App 메인 */
.app{
    margin: 0 auto;
    min-width: 300px ;
    max-width: 500px;
}


/* Menu 관련 */
.menu{
    display: flex;
    flex-flow: row;
    padding: 5px;
    border: 1px solid #000;
}

.menu .menu-item{
    display: flex;
    flex: 1;
}

.menu .menuActive {
    color:red;
}


.menu .title , .menu .icon {
    text-align: center;
}


.menu .title {
    
}

.menu .icon {

}