/* common 공통 css */
a, a:active , a:visited {
    text-decoration: none;
    color: inherit;
}

.a-block {
    display: block;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.widthFull{
    width: 100%;
}

.height50 {
    height: 100px;
}
.fontSzie11 {
    font-size: 11px;
}

.flexBox-col > .flex-item{
    flex: 1
}
.text-center {
    text-align: center;
}

.buttonBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-mainBG { 
    background: 444444;
}





/* App 메인 */
.app{
    margin: 0 auto;
    min-width: 300px ;
    max-width: 500px;
}


/* Menu 관련 */
.menu{
    display: flex;
    flex-flow: row;
    padding: 5px;
    border: 1px solid rgba(157, 157, 157, 0.447);
}

.menu .menu-item{
    display: flex;
    flex: 1;
}

.menu .menuActive {
    color:red;
}


.menu .title , .menu .icon {
    text-align: center;
}


.menu .title {
    
}

.menu .icon {

}