/* common 공통 css */
a, a:active , a:visited {
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0;
    background: #222;
    border: 1px solid #000;
}

#root{
    padding: 8px;
    margin: 0 auto;
    min-width: 300px ;
    max-width: 500px;
    background: #f3f3f3;
    border: 1px solid #000;
}
.a-block {
    display: block;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.widthFull{
    width: 100%;
}

.height50 {
    height: 100px;
}
.fontSzie11 {
    font-size: 11px;
}

.flexBox-col > .flex-item{
    flex: 1
}
.text-center {
    text-align: center;
}

.buttonBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-mainBG { 
    background: 444444;
}

.icon_woori{
    width: 30;
    height: 30;
}
.wooriCard{
    background-image: url(../images/wooriCard.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.kakaoCard{
    background-image: url(../images/kakaoCard.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* App 메인 */
.app{
}


/* Menu 관련 */
.menu{
    display: flex;
    flex-flow: row;
    padding: 5px;
    border: 1px solid rgba(157, 157, 157, 0.447);
}

.menu .menu-item{
    display: flex;
    flex: 1;
}

.menu .menuActive {
    color:red;
}


.menu .title , .menu .icon {
    text-align: center;
}


.menu .title {
    
}

.menu .icon {

}



/* tree override */
.bp3-tree-node-content{
    height: 50px !important;
    border-bottom:  1px solid #edeaea;
}